{% assign id = section.settings.custom_id | default: section.id %}

<style>
  #{{ id }} .ante-section-content {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-small);
    align-items: flex-start;
    max-width: var(--width-10);
  }

  #{{ id }} .section-left {
    display: flex;
    flex-direction: column;
    width: calc(50% - var(--spacing-small) / 2);
    position: sticky;
    top: var(--sticky-top);
    transition: top .25s;
    gap: var(--spacing-x-small);
  }

  @media (max-height: 1100px) {
    #{{ id }} .section-left {
      max-width: 720px;
    }
  }

  @media (max-height: 930px) {
    #{{ id }} .section-left {
      max-width: 600px;
    }
  }

  #{{ id }} .section-info {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, auto);
    column-gap: var(--spacing-small);
    row-gap: var(--micropad-medium);
    text-align: center;
  }

  @media (min-width: 601px) {
    #{{ id }} .section-info {
      margin-top: calc(var(--spacing-medium) * -1);
      padding-top: var(--spacing-x-small);
    }
  }

  #{{ id }} .section-right {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--spacing-medium);
  }

  #{{ id }} .section-right-top {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-x-small);
  }

  #{{ id }} .section-right-header {
    display: flex;
    flex-direction: column;
    gap: var(--micropad-x-large);
  }

  #{{ id }} h2 {
    text-align: center;
  }

  #{{ id }} .step-container {
    background-color: var(--color-surface-100);
    border: 1px solid var(--color-border);
    padding: var(--padding-large);
    border-radius: var(--radius-large);
  }

  #{{ id }} .step-steps {
    display: flex;
    gap: var(--micropad-x-large);
  }

  #{{ id }} .step-step {
    flex: 1;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: var(--micropad-large);
    gap: var(--micropad-x-small);
    font-style: italic;
    user-select: none;
    pointer-events: none;
  }

  #{{ id }} .step-step h6 {
    height: 24px;
    display: flex;
    align-items: center;
    line-height: 1;
  }

  #{{ id }} .step-step.active ~ .step-step h6,
  #{{ id }} .step-step.active ~ .step-step::after {
    opacity: 0.4;
  }

  #{{ id }} .step-step svg {
    display: none;
    width: 24px;
    height: 24px;
    margin-left: var(--micropad-x-small);
  }

  #{{ id }} .step-step path {
    color: #6DB129;
  }

  #{{ id }} .step-step:has(~ .active) {
    cursor: pointer;
    pointer-events: initial;
  }

  #{{ id }} .step-step:has(~ .active) svg {
    display: initial;
  }

  #{{ id }} .step-step::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    border-radius: 10px;
    background-color: var(--color-button);
  }

  #{{ id }} .step-wrapper {
    display: flex;
    margin: var(--spacing-medium) 0 var(--spacing-x-small);
  }

  #{{ id }} .step {
    flex-direction: column;
    gap: var(--spacing-x-small);
    width: 100%;
    display: none;
  }

  #{{ id }} .step.active {
    display: flex;
  }

  #{{ id }} .step input {
    display: none;
  }

  #{{ id }} .step label {
    display: flex;
    background-color: var(--color-surface-100);
    border: 1px solid var(--color-border);
    cursor: pointer;
    user-select: none;
    position: relative;
    transition: background-color .15s, border .15s;
    padding: var(--padding-medium);
    gap: var(--micropad-x-large);
    border-radius: var(--radius-medium);
    width: 100%;
  }

  #{{ id }} .step label.has-input-tag {
    margin-top: calc(var(--spacing-x-small) * -1);
    border-top-left-radius: 0;
  }

  #{{ id }} .step label.best-value::before {
    content: "Best Value";
  }

  #{{ id }} .step2 img {
    border-radius: 50%;
    border: 1px solid var(--color-border);
    transition: border .15s;
  }

  #{{ id }} .step2 input:checked + label img {
    border: 1px solid var(--color-text-default);
  }

  #{{ id }} .input-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--micropad-x-large);
    justify-content: center;
  }

  #{{ id }} .input-row {
    display: flex;
    align-items: center;
    width: 100%;
  }

  #{{ id }} .input-row > * {
    order: 1;
  }

  #{{ id }} .input-row::before {
    content: "";
    min-width: 22px;
    height: 22px;
    border: 2px solid var(--color-text-default);
    border-radius: 50%;
    transition: border .15s;
    order: 0;
  }

  #{{ id }} .input-row::after {
    content: "";
    min-width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: background-color .15s, scale .15s;
    order: 0;
    scale: 0;
    margin-left: -16px;
    margin-right: calc(5px + var(--micropad-medium));
  }

  #{{ id }} .input-name {
    margin-right: var(--micropad-x-large);
  }

  #{{ id }} .input-row > .ante-price {
    flex: 1;
  }

  #{{ id }} .step input:checked + label {
    background-color: var(--inverse-color-background);
    border: 1px solid var(--color-text-default);
  }

  #{{ id }} .step input:checked + label * {
    color: var(--inverse-color-text-default);
  }

  #{{ id }} .step input:checked + label .input-row::before {
    border: 2px solid var(--inverse-color-text-alt);
  }

  #{{ id }} .step input:checked + label .input-row::after {
    background-color: var(--inverse-color-text-alt);
    scale: 1;
  }

  #{{ id }} .input-facts {
    display: flex;
    gap: var(--micropad-x-large);
  }

  #{{ id }} .input-facts .fact {
    display: flex;
    align-items: center;
    gap: var(--micropad-x-small);
  }

  #{{ id }} .input-facts svg {
    color: var(--color-text-default);
  }

  #{{ id }} .step-buttons {
    display: flex;
    gap: var(--micropad-x-large);
    align-items: flex-start;
  }

  #{{ id }} .step-buttons > :last-child {
    flex: 1;
  }

  #{{ id }} .back-button svg {
    rotate: 180deg;
  }

  #{{ id }} .step-description {
    align-items: center;
    border-bottom: 1px dashed var(--color-text-default);
    justify-content: space-between;
    padding-bottom: var(--spacing-x-small);
    margin-bottom: var(--spacing-x-small);
  }

  #{{ id }} .modal-button {
    cursor: pointer;
    display: inline-flex;
    color: var(--color-background-alt);
  }

  #{{ id }} .step-description .modal-button {
    transform: translateY(3px);
  }

  #{{ id }} .step-delivered {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--micropad-medium);
  }

  #{{ id }} .step-delivered-count {
    display: flex;
    align-items: center;
    gap: 2px;
    font-family: "Brandon Grotesque", helvetica;
    font-size: 17.462px;
    font-weight: 900;
    color: var(--color-text-muted);
  }

  #{{ id }} .step-delivered-count > div {
    border: 1px solid var(--color-text-default);
    height: 20px;
    width: 15px;
    border-radius: 3.629px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #{{ id }} .step-header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #{{ id }} .section-media {
    display: flex;
    gap: var(--spacing-x-small);
    align-items: center;
  }

  #{{ id }} .section-media > :last-child {
    display: flex;
    flex-direction: column;
    gap: var(--micropad-x-large);
  }

  #{{ id }} .section-media .ante-image {
    min-width: 146px;
    border-radius: var(--radius-large);
  }

  #{{ id }} .starting-from {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: var(--micropad-x-small);
  }

  #{{ id }} .save-big {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-sale);
    align-self: center;
    padding: var(--padding-tab);
    gap: 4px;
    border-radius: var(--radius-large);
  }

  #{{ id }} .save-big.section-desktop {
    margin-bottom: var(--spacing-x-small);
  }

  #{{ id }} .save-big-icon {
    height: 0;
    display: flex;
    align-items: center;
  }

  #{{ id }} .save-big-icon svg {
    width: 90px;
    height: 94px;
    margin: 0 -10px;
    transform: translateY(-3px);
  }

  #{{ id }} .save-big > :nth-child(2) {
    color: var(--color-button);
  }

  #{{ id }} .review-stars {
    justify-content: center;
  }

  #{{ id }} .input-content-row {
    display: flex;
    gap: var(--spacing-x-small);
  }

  #{{ id }} .input-content-row .input-image {
    align-self: flex-end;
  }

  #{{ id }} .input-content-row-left {
    display: flex;
    flex-direction: column;
    gap: var(--micropad-medium);
    flex: 1;
    justify-content: center;
  }

  #{{ id }} .info-message {
    text-align: center;
  }

  #{{ id }} .section-mobile,
  #{{ id }} .step-mobile {
    display: none;
  }

  @media (max-width: 1300px) {
    #{{ id }} .step-desktop {
      display: none;
    }

    #{{ id }} .step-mobile {
      display: flex;
    }

    #{{ id }} .step-mobile .input-name {
      flex: 1;
    }

    #{{ id }} .step-mobile .input-facts {
      flex-direction: column;
      gap: var(--micropad-x-small);
    }
  }

  @media (max-width: 1919px) {
    #{{ id }} .ante-section-content {
      max-width: 100%;
    }
  }

  @media (max-width: 1024px) {
    #{{ id }} .ante-section-content {
      flex-direction: column;
      align-items: stretch;
      gap: var(--spacing-medium);
    }

    #{{ id }} .ante-section-content > div {
      display: contents !important;
    }

    #{{ id }} .ante-section-content > div > * {
      order: 10;
    }

    #{{ id }} .section-right-top {
      order: 0 !important;
    }

    #{{ id }} .section-right > *:not(.section-right-top) {
      max-width: var(--width-6);
      margin: 0 auto;
    }

    #{{ id }} .section-desktop {
      display: none;
    }

    #{{ id }} .section-mobile {
      display: flex;
    }

    #{{ id }} .step-desktop {
      display: flex;
    }

    #{{ id }} .step-mobile {
      display: none;
    }
  }

  @media (max-width: 600px) {
    #{{ id }} .section-right > * {
      width: 100%;
      max-width: 100% !important;
    }

    #{{ id }} .step label {
      padding: var(--padding-small);
    }

    #{{ id }} .input-left {
      gap: var(--micropad-large);
    }

    #{{ id }} .step-buttons {
      flex-direction: column-reverse;
      align-items: stretch;
    }

    #{{ id }} .save-big-icon svg {
      width: 80px;
      height: 84px;
    }

    #{{ id }} .step-delivered {
      flex-direction: column;
      gap: var(--micropad-x-small);
    }
  }

  @media (max-width: 580px) {
    #{{ id }} .step-desktop {
      display: none;
    }

    #{{ id }} .step-mobile {
      display: flex;
    }
  }
</style>

{% for block in section.blocks %}
  {% if block.type == "product" and block.settings.product %}
    {% assign first_price = block.settings.product.variants.first.price %}
    {% if block.settings.use_custom_price %}
      {% assign first_price = block.settings.custom_price %}
    {% else %}
      {% assign first_price = block.settings.product.variants.first.price %}
    {% endif %}
    {% if block.settings.use_custom_price %}
      {% assign first_compare_price = block.settings.custom_compare_at_price %}
    {% else %}
      {% assign first_compare_price = block.settings.product.variants.first.compare_at_price | default: 0 %}
    {% endif %}
    {% break %}
  {% endif %}
{% endfor %}

{% render "ante-section-structure", section: section %}
  <div class="section-left">
    {% assign final_urls = "" %}

    {% for block in section.blocks %}
      {% if block.type == "image" and block.settings.position == "before" %}
        {% assign url = block.settings.image | image_url: width: 1024 %}
        {% assign final_urls = final_urls | append: url | append: "|||" %}
      {% endif %}
    {% endfor %}

    {% if section.settings.carousel_product %}
      {% for image in section.settings.carousel_product.images %}
        {% assign url = image | image_url: width: 1024 %}
        {% assign final_urls = final_urls | append: url | append: "|||" %}
      {% endfor %}
    {% endif %}

    {% for block in section.blocks %}
      {% if block.type == "image" and block.settings.position == "after" %}
        {% assign url = block.settings.image | image_url: width: 1024 %}
        {% assign final_urls = final_urls | append: url | append: "|||" %}
      {% endif %}
    {% endfor %}

    {% assign final_urls = final_urls | split: "|||" | compact %}
    
    {% render "ante-image-carousel", images: final_urls, id: id %}
  </div>
  <div class="section-right">
    <div class="section-right-top">
      <div class="section-right-header">
        {% render "ante-stars", rating: section.settings.star_rating, count: section.settings.star_review_count, link: section.settings.star_link %}
        <h2>{{ section.settings.custom_heading }}</h2>
      </div>
      <div class="starting-from">
        <span class="body-caption alt">Starting from</span>
        {% render "ante-price", static: true, big: true, price: first_price, compare_price: first_compare_price %}
      </div>
      <div class="save-big section-mobile">
        <div class="save-big-icon">
          {% render "ante-svg", icon: "face-wow" %}
        </div>
        <h6>SAVE BIG</h6>
        <span class="body-caption alt">on select plans only</span>
      </div>
    </div>
    <div class="section-info">
      {% for block in section.blocks %}
        {% if block.type == "info" %}
          {% render "ante-image", image: block.settings.image, height: 80 %}
          <h6>{{ block.settings.text }}</h6>
          <div class="body-caption muted">{{ block.settings.description }}</div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="step-container">
      <div class="save-big section-desktop">
        <div class="save-big-icon">
          {% render "ante-svg", icon: "face-wow" %}
        </div>
        <h6>SAVE BIG</h6>
        <span class="body-caption alt">on select plans only</span>
      </div>
      <div class="step-description">
        <span class="body-base bold">{{ section.settings.steps_description }}</span>
        {% if section.settings.steps_description_modal_content != blank %}
          <div class="step-description-modal-button modal-button">
            {% render "ante-svg", icon: "info" %}
          </div>
          <div class="modal" data-title="{{ section.settings.steps_description_modal_title }}" data-trigger="step-description-modal-button">
            <div class="richtext">{{ section.settings.steps_description_modal_content }}</div>
          </div>
        {% endif %}
      </div>
      <div class="step-steps">
        <div class="step-step step1-step active"><h6>STEP 1</h6> {% render "ante-svg", icon: "check" %}</div>
        <div class="step-step step2-step"><h6>STEP 2</h6> {% render "ante-svg", icon: "check" %}</div>
        <div class="step-step step3-step"><h6>STEP 3</h6> {% render "ante-svg", icon: "check" %}</div>
      </div>
      <div class="step-wrapper">
        <div class="step step1 active">
          <div class="step-header-row">
            <h5 class="step-header">{{ section.settings.step_1_heading }}</h5>
            {% if section.settings.step_1_info != blank %}
              <div class="step1-modal-button modal-button">
                {% render "ante-svg", icon: "info" %}
              </div>
              <div class="modal" data-title="{{ section.settings.step_1_info_title }}" data-trigger="step1-modal-button">
                <div class="richtext">{{ section.settings.step_1_info }}</div>
              </div>
            {% endif %}
          </div>
          {% for block in section.blocks %}
            {% if block.type == "product" and block.settings.product %}
              {% if block.settings.outer_tag_text != blank %}
                <div class="ante-outer-tag">{{ block.settings.outer_tag_text }}</div>
              {% endif %}
              <input type="radio" name="step1" id="product-{{ block.settings.product.id }}" data-product="{{ block.settings.product.id }}"{% if block.settings.preselected %} checked{% endif %}>
              <label for="product-{{ block.settings.product.id }}" class="product{% if block.settings.outer_tag_text != blank %} has-input-tag{% endif %}">
                {% assign image = block.settings.custom_image | default: block.settings.product.featured_image %}
                <div class="input-left step-desktop">
                  <div class="input-row">
                    <h6 class="input-name">{{ block.settings.custom_title | default: block.settings.product.title }}</h6>
                    {% assign price = block.settings.product.variants.first.price %}
                    {% assign compare_price = block.settings.product.variants.first.compare_at_price %}
                    {% if block.settings.use_custom_price %}
                      {% assign price = block.settings.custom_price %}
                    {% endif %}
                    {% if block.settings.use_custom_compare_at_price %}
                      {% assign compare_price = block.settings.custom_compare_at_price %}
                    {% endif %}
                    {% render "ante-price", static: true, price: price, compare_price: compare_price %}
                    {% if block.settings.inner_tag_text != blank %}
                      <div class="ante-inner-tag">{{ block.settings.inner_tag_text }}</div>
                    {% endif %}
                  </div>
                  <div class="input-facts">
                    {% assign facts = block.settings.facts | newline_to_br | split: '<br />' %}
                    {% for fact in facts %}
                      {% assign trimmed_fact = fact | strip %}
                      {% if trimmed_fact != blank %}
                        <div class="fact body-caption muted">{% render "ante-svg", icon: "check" %} {{ trimmed_fact }}</div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
                <div class="input-left step-mobile">
                  <div class="input-row">
                    <h6 class="input-name">{{ block.settings.custom_title | default: block.settings.product.title }}</h6>
                    {% if block.settings.inner_tag_text != blank %}
                      <div class="ante-inner-tag">{{ block.settings.inner_tag_text }}</div>
                    {% endif %}
                  </div>
                  <div class="input-content-row">
                    <div class="input-content-row-left">
                      {% assign price = block.settings.product.variants.first.price %}
                      {% assign compare_price = block.settings.product.variants.first.compare_at_price %}
                      {% if block.settings.use_custom_price %}
                        {% assign price = block.settings.custom_price %}
                      {% endif %}
                      {% if block.settings.use_custom_compare_at_price %}
                        {% assign compare_price = block.settings.custom_compare_at_price %}
                      {% endif %}
                      {% render "ante-price", static: true, price: price, compare_price: compare_price %}
                      <div class="input-facts">
                        {% assign facts = block.settings.facts | newline_to_br | split: '<br />' %}
                        {% for fact in facts %}
                          {% assign trimmed_fact = fact | strip %}
                          {% if trimmed_fact != blank %}
                            <div class="fact body-caption muted">{% render "ante-svg", icon: "check" %} {{ trimmed_fact }}</div>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                    <div class="input-image">
                      {% render "ante-image", image: image, height: 64 %}
                    </div>
                  </div>
                </div>
                <div class="input-image step-desktop">
                  {% render "ante-image", image: image, height: 64 %}
                </div>
              </label>
            {% endif %}
          {% endfor %}
          <button class="ante-button step1-next-button" disabled>{{ section.settings.step_1_button_text }} {% render "ante-svg", icon: "arrow" %}</button>
        </div>
        {% if section.settings.step_2_info != blank %}
          <div class="modal" data-title="{{ section.settings.step_2_info_title }}" data-trigger="step2-modal-button">
            <div class="richtext">{{ section.settings.step_2_info }}</div>
          </div>
        {% endif %}
        {% if section.settings.step_3_info != blank %}
          <div class="modal" data-title="{{ section.settings.step_3_info_title }}" data-trigger="step3-modal-button">
            <div class="richtext">{{ section.settings.step_3_info }}</div>
          </div>
        {% endif %}
        {% for block in section.blocks %}
          {% if block.type == "product" and block.settings.product %}
            <div class="step step2" data-product="{{ block.settings.product.id }}" hidden>
              <div class="step-header-row">
                <h5 class="step-header">{{ section.settings.step_2_heading }}</h5>
                {% if section.settings.step_2_info != blank %}
                  <div class="step2-modal-button modal-button">
                    {% render "ante-svg", icon: "info" %}
                  </div>
                {% endif %}
              </div>
              {% for variant in block.settings.product.variants %}
                {% if variant.metafields.ante.variant_tag_text != blank %}
                  <div class="ante-outer-tag">{{ variant.metafields.ante.variant_tag_text }}</div>
                {% endif %}
                <input type="radio" name="variants-{{ block.settings.product.id }}" id="product-variant-{{ variant.id }}" data-index="{{ forloop.index0 }}" {% if variant.metafields.ante.variant_preselected %} checked{% endif %}>
                <label for="product-variant-{{ variant.id }}" class="product{% if variant.metafields.ante.variant_tag_text != blank %} has-input-tag{% endif %}">
                  <div class="input-left">
                    <div class="input-row">
                      <h6 class="input-name">{{ variant.title }}</h6>
                    </div>
                    {% if variant.metafields.ante.variant_description != blank %}
                      <div class="input-description body-caption">{{ variant.metafields.ante.variant_description }}</div>
                    {%endif %}
                  </div>
                  <div class="input-image">
                    {% assign image = variant.metafields.ante.variant_image | default: variant.image | default: block.settings.product.featured_image %}
                    {% render "ante-image", image: image, height: 64 %}
                  </div>
                </label>
              {% endfor %}
              <div class="step-buttons">
                <button class="ante-button flat back-button step2-back-button">{% render "ante-svg", icon: "arrow" %} BACK</button>
                <button class="ante-button step2-next-button" disabled>{{ section.settings.step_2_button_text }} {% render "ante-svg", icon: "arrow" %}</button>
              </div>
            </div>
            <div class="step step3" data-product="{{ block.settings.product.id }}" hidden>
              <div class="step-header-row">
                <h5 class="step-header">{{ section.settings.step_3_heading }}</h5>
                {% if section.settings.step_3_info != blank %}
                  <div class="step3-modal-button modal-button">
                    {% render "ante-svg", icon: "info" %}
                  </div>
                {% endif %}
              </div>
              {% if block.settings.outer_tag_text_step3 != blank %}
                <div class="ante-outer-tag">{{ block.settings.outer_tag_text_step3 }}</div>
              {% endif %}
              <input type="radio" name="frequency-{{ block.settings.product.id }}" id="product-frequency-{{ block.settings.product.id }}" data-product="{{ block.settings.product.id }}" {% if block.settings.preselected_step_3 %} checked{% endif %}>
              <label for="product-frequency-{{ block.settings.product.id }}" class="product{% if block.settings.outer_tag_text_step3 != blank %} has-input-tag{% endif %}">
                <div class="input-left step-desktop">
                  <div class="input-row">
                    <h6 class="input-name">{{ section.settings.default_frequency_title }}</h6>
                      {% assign price = block.settings.product.variants.first.price %}
                      {% assign compare_price = block.settings.product.variants.first.compare_at_price %}
                      {% if block.settings.use_custom_price %}
                        {% assign price = block.settings.custom_price %}
                      {% endif %}
                      {% if block.settings.use_custom_compare_at_price %}
                        {% assign compare_price = block.settings.custom_compare_at_price %}
                      {% endif %}
                      {% render "ante-price", static: true, price: price, compare_price: compare_price %}
                      {% if block.settings.inner_tag_text_step3 != blank %}
                        <div class="ante-inner-tag">{{ block.settings.inner_tag_text_step3 }}</div>
                      {% endif %}
                  </div>
                  <div class="body-caption">{{ section.settings.default_frequency_description }}</div>
                </div>
                <div class="input-left step-mobile">
                  <div class="input-row">
                    <h6 class="input-name">{{ section.settings.default_frequency_title }}</h6>
                    {% if block.settings.inner_tag_text_step3 != blank %}
                      <div class="ante-inner-tag">{{ block.settings.inner_tag_text_step3 }}</div>
                    {% endif %}
                  </div>
                  <div class="input-content-row">
                    <div class="input-content-row-left">
                      {% assign price = block.settings.product.variants.first.price %}
                      {% assign compare_price = block.settings.product.variants.first.compare_at_price %}
                      {% if block.settings.use_custom_price %}
                        {% assign price = block.settings.custom_price %}
                      {% endif %}
                      {% if block.settings.use_custom_compare_at_price %}
                        {% assign compare_price = block.settings.custom_compare_at_price %}
                      {% endif %}
                      {% render "ante-price", static: true, price: price, compare_price: compare_price %}
                      <div class="body-caption">{{ section.settings.default_frequency_description }}</div>
                    </div>
                  </div>
                </div>
              </label>
              {% for subblock in section.blocks %}
                {% if subblock.type == "product_frequency_option" and subblock.settings.parent_product.id == block.settings.product.id and subblock.settings.frequency_product %}
                  {% if subblock.settings.outer_tag_text != blank %}
                    <div class="ante-outer-tag">{{ subblock.settings.outer_tag_text }}</div>
                  {% endif %}
                  <input type="radio" name="frequency-{{ block.settings.product.id }}" id="product-frequency-{{ subblock.settings.frequency_product.id }}" data-product="{{ subblock.settings.frequency_product.id }}" {% if subblock.settings.preselected %} checked{% endif %}>
                  <label for="product-frequency-{{ subblock.settings.frequency_product.id }}" class="product{% if subblock.settings.outer_tag_text != blank %} has-input-tag{% endif %}">
                    <div class="input-left step-desktop">
                      <div class="input-row">
                        <h6 class="input-name">{{ subblock.settings.frequency_title }}</h6>
                          {% assign price = subblock.settings.frequency_product.variants.first.price %}
                          {% assign compare_price = subblock.settings.frequency_product.variants.first.compare_at_price %}
                          {% if subblock.settings.use_custom_price %}
                            {% assign price = subblock.settings.custom_price %}
                          {% endif %}
                          {% if subblock.settings.use_custom_compare_at_price %}
                            {% assign compare_price = subblock.settings.custom_compare_at_price %}
                          {% endif %}
                          {% render "ante-price", static: true, price: price, compare_price: compare_price, label: subblock.settings.frequency_duration %}
                          {% if subblock.settings.inner_tag_text != blank %}
                            <div class="ante-inner-tag">{{ subblock.settings.inner_tag_text }}</div>
                          {% endif %}
                      </div>
                      <div class="body-caption">{{ subblock.settings.frequency_description }}</div>
                    </div>
                    <div class="input-left step-mobile">
                      <div class="input-row">
                        <h6 class="input-name">{{ subblock.settings.frequency_title }}</h6>
                        {% if subblock.settings.inner_tag_text != blank %}
                          <div class="ante-inner-tag">{{ subblock.settings.inner_tag_text }}</div>
                        {% endif %}
                      </div>
                      <div class="input-content-row">
                        <div class="input-content-row-left">
                          {% assign price = subblock.settings.frequency_product.variants.first.price %}
                          {% assign compare_price = subblock.settings.frequency_product.variants.first.compare_at_price %}
                          {% if subblock.settings.use_custom_price %}
                            {% assign price = subblock.settings.custom_price %}
                          {% endif %}
                          {% if subblock.settings.use_custom_compare_at_price %}
                            {% assign compare_price = subblock.settings.custom_compare_at_price %}
                          {% endif %}
                          {% render "ante-price", static: true, price: price, compare_price: compare_price, label: subblock.settings.frequency_duration %}
                          <div class="body-caption">{{ subblock.settings.frequency_description }}</div>
                        </div>
                      </div>
                    </div>
                  </label>
                {% endif %}
              {% endfor %}
              <div class="info-message body-caption" hidden></div>
              <div class="step-buttons">
                <button class="ante-button flat back-button step3-back-button">{% render "ante-svg", icon: "arrow" %} BACK</button>
                {% render "ante-buy-button", text: section.settings.step_3_button_text, disabled: true, show_price: true %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="step-delivered">
        <div class="step-delivered-count">
          {% assign chars = section.settings.delivered_count | split: "" %}
          {% for c in chars %}
            {% if c >= "0" and c <= "9" %}
              <div>{{ c }}</div>
            {% else %}
              {{ c }}
            {% endif %}
          {% endfor %}
        </div>
        <div class="body-caption alt muted">{{ section.settings.delivered_text }}</div>
      </div>
    </div>
    <div class="section-media-container">
      {% for block in section.blocks %}
        {% if block.type == "media" %}
          <div class="section-media">
            {% render "ante-image", image: block.settings.image, width: 146, height: 122, video: block.settings.video_url %}
            <div>
              <h5>{{ block.settings.heading }}</h5>
              <div class="body-base muted">{{ block.settings.text }}</div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% render "ante-drops", blocks: section.blocks, type: "drop" %}
  </div>
{% render "ante-section-structure", end: true %}

<script type="module">
  window.addEventListener("pageshow", e => {
    document.querySelectorAll("#{{ id }} .step1 input[type='radio']:checked").forEach(input => {
      input.dispatchEvent(new Event("change", { bubbles: true }))
    })
  })

  const prices = document.querySelectorAll(".ante-buy-price")
  const comparePrices = document.querySelectorAll(".ante-buy-compare-price")

  setPrice({{ first_price }}, {{ first_compare_price }})

  const step1Inputs = document.querySelectorAll("#{{ id }} input[name='step1']")
  const productSteps = document.querySelectorAll("#{{ id }} .step[data-product]")

  step1Inputs.forEach(input => input.addEventListener("change", evt => {
    productSteps.forEach(e => e.hidden = e.dataset.product !== input.dataset.product)
  }))

  const stepSteps = document.querySelectorAll("#{{ id }} .step-step")
  const step1Step = document.querySelector("#{{ id }} .step1-step")
  const step2Step = document.querySelector("#{{ id }} .step2-step")
  const step3Step = document.querySelector("#{{ id }} .step3-step")
  const steps = document.querySelectorAll("#{{ id }} .step")
  const step1 = document.querySelector("#{{ id }} .step1")
  const step2 = document.querySelectorAll("#{{ id }} .step2")
  const step3 = document.querySelectorAll("#{{ id }} .step3")

  let activeStep = 1

  function clean() {
    document.querySelector("#{{ id }} .step.active:not([hidden])").querySelector("input:checked").dispatchEvent(new Event("change", { bubbles: true }))
    stepSteps.forEach(e => e.classList.remove("active"))
    steps.forEach(e => e.classList.remove("active"))
    smoothScroll(document.querySelector("#{{ id }} .step-container"))
    setTimeout(() => {
      document.querySelector("#{{ id }} .step.active:not([hidden])").querySelector("input:checked").dispatchEvent(new Event("change", { bubbles: true }))
    }, 0)
  }

  function activateStep1() {
    activeStep = 1
    clean()
    step1Step.classList.add("active")
    step1.classList.add("active")
  }

  function activateStep2() {
    activeStep = 2
    clean()
    step2Step.classList.add("active")
    step2.forEach(e => e.classList.add("active"))
  }

  function activateStep3() {
    activeStep = 3
    clean()
    step3Step.classList.add("active")
    step3.forEach(e => e.classList.add("active"))
  }

  document.querySelector("#{{ id }} .step1-next-button").addEventListener("click", activateStep2)
  document.querySelector("#{{ id }} .step1-step").addEventListener("click", activateStep1)
  document.querySelector("#{{ id }} .step2-step").addEventListener("click", e => {
    if (document.querySelector("#{{ id }} .step3-step").classList.contains("active")) {
      activateStep2()
    }
  })
  document.querySelectorAll("#{{ id }} .step2-back-button").forEach(e => e.addEventListener("click", activateStep1))
  document.querySelectorAll("#{{ id }} .step2-next-button").forEach(e => e.addEventListener("click", activateStep3))
  document.querySelectorAll("#{{ id }} .step3-back-button").forEach(e => e.addEventListener("click", activateStep2))

  const products = {
    {% for block in section.blocks %}
      {% if block.type == "product" and block.settings.product %}
        "{{ block.settings.product.id }}": {
          "{{ block.settings.product.id }}": {
            sellingPlan: {{ block.settings.product.selling_plan_groups.first.selling_plans.first.id }},
            variants: [
              {% for variant in block.settings.product.variants %}
                {
                  id: {{ variant.id }},
                  {% if block.settings.use_custom_price %}
                    price: {{ block.settings.custom_price }},
                  {% else %}
                    price: {{ variant.price }},
                  {% endif %}
                  {% if block.settings.use_custom_compare_at_price %}
                    comparePrice: {{ block.settings.custom_compare_at_price }}
                  {% else %}
                    comparePrice: {{ variant.compare_at_price | default: 0 }}
                  {% endif %}
                },
              {% endfor %}
            ],
            infoMessage: "{{ block.settings.info_message }}"
          },
          {% for subblock in section.blocks %}
            {% if subblock.type == "product_frequency_option" and subblock.settings.parent_product.id == block.settings.product.id and subblock.settings.frequency_product %}
              "{{ subblock.settings.frequency_product.id }}": {
                sellingPlan: {{ subblock.settings.frequency_product.selling_plan_groups.first.selling_plans.first.id }},
                variants: [
                  {% for variant in subblock.settings.frequency_product.variants %}
                    {
                      id: {{ variant.id }},
                      {% if subblock.settings.use_custom_price %}
                        price: {{ subblock.settings.custom_price }},
                      {% else %}
                        price: {{ variant.price }},
                      {% endif %}
                      {% if subblock.settings.use_custom_compare_at_price %}
                        comparePrice: {{ subblock.settings.custom_compare_at_price }},
                      {% else %}
                        comparePrice: {{ variant.compare_at_price | default: 0 }},
                      {% endif %}
                      {% if subblock.settings.frequency_duration %}
                        duration: "{{ subblock.settings.frequency_duration }}"
                      {% endif %}
                    },
                  {% endfor %}
                ],
                infoMessage: "{{ subblock.settings.info_message }}"
              },
            {% endif %}
          {% endfor %}
        },
      {% endif %}
    {% endfor %}
  }

  let selectedStep1, variantIndex, frequency

  const infoMessages = document.querySelectorAll("#{{ id }} .step .info-message")

  document.querySelectorAll("#{{ id }} .step input").forEach(e => e.addEventListener("change", evt => {
    e.parentElement.querySelector(".ante-button:not(.back-button)").disabled = false
    const name = e.getAttribute("name")
    let product, variant
    if (name === "step1") {
      selectedStep1 = e.dataset.product
      product = products[selectedStep1][selectedStep1]
      variant = product.variants[0]
    } else if (name.startsWith("variants")) {
      variantIndex = e.dataset.index
      product = products[selectedStep1][selectedStep1]
      variant = product.variants[variantIndex]
    } else if (name.startsWith("frequency")) {
      frequency = e.dataset.product
      product = products[selectedStep1][frequency]
      variant = product.variants[variantIndex]
    }
    for (const infoMessage of infoMessages) {
      if (product.infoMessage && name.startsWith("frequency")) {
        infoMessage.textContent = product.infoMessage
        infoMessage.hidden = false
      } else {
        infoMessage.hidden = true
      }
    }
    setPrice(variant.price, variant.comparePrice, variant.duration)
  }))

  document.querySelectorAll("#{{ id }} .ante-buy-button").forEach(input => input.addEventListener("click", async evt => {
    input.loading = true
    await fetch("/cart/clear")

    const r = await fetch("/cart/add.js", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        id: products[selectedStep1][frequency].variants[variantIndex].id,
        quantity: 1,
        selling_plan: products[selectedStep1][frequency].sellingPlan,
        properties: {
          _from_multi_step_variants: true
        }
      })
    })
    
    if (!r.ok) {
      input.loading = false
      throw `Failed to add to cart: ${await r.text()}`
    }

    {% if section.settings.discount_code %}
      await fetch("/discount/{{ section.settings.discount_code }}")
    {% endif %}

    input.loading = false

    location = "/checkout"
  }))

  document.querySelectorAll(".ante-buy-button").forEach((button, i) => button.addEventListener("click", e => {
    if (!button.closest("#{{ id }}")) {
      smoothScroll(document.querySelector("#{{ id }} .step-container"))
    }
  }))
</script>

{% schema %}
  {
    "name": "Multi-Step Variants [UTA]",
    "presets": [
      {
        "name": "Multi-Step Variants [UTA]"
      }
    ],
    "settings": [
      {
        "type": "product",
        "id": "carousel_product",
        "label": "Carousel Product",
        "info": "The product to use for images in the carousel"
      },
      {
        "type": "range",
        "id": "star_rating",
        "label": "Star Rating",
        "min": 0,
        "max": 5,
        "step": 0.5,
        "default": 4.5
      },
      {
        "type": "number",
        "id": "star_review_count",
        "label": "Star Review Count",
        "default": 1000
      },
      {
        "type": "url",
        "id": "star_link",
        "label": "Star Link"
      },
      {
        "type": "text",
        "id": "custom_heading",
        "label": "Custom Heading",
        "default": "Custom Heading",
        "placeholder": "Custom Heading"
      },
      {
        "type": "text",
        "id": "steps_description",
        "label": "Steps Description",
        "default": "Description",
        "placeholder": "Description"
      },
      {
        "type": "text",
        "id": "steps_description_modal_title",
        "label": "Steps Modal Title",
        "default": "More Info",
        "placeholder": "Title"
      },
      {
        "type": "richtext",
        "id": "steps_description_modal_content",
        "label": "Steps Description Modal Content",
        "default": "<p>Description</p>"
      },
      {
        "type": "text",
        "id": "step_1_heading",
        "label": "Step 1 Heading",
        "default": "Step 1",
        "placeholder": "Step 1"
      },
      {
        "type": "text",
        "id": "step_1_info_title",
        "label": "Step 1 Info Title",
        "default": "More Info",
        "placeholder": "Title"
      },
      {
        "type": "richtext",
        "id": "step_1_info",
        "label": "Step 1 Info",
        "default": "<p>Description</p>"
      },
      {
        "type": "text",
        "id": "step_1_button_text",
        "label": "Step 1 Button Text",
        "default": "Next",
        "placeholder": "Next"
      },
      {
        "type": "text",
        "id": "step_2_heading",
        "label": "Step 2 Heading",
        "default": "Step 2",
        "placeholder": "Step 2"
      },
      {
        "type": "text",
        "id": "step_2_info_title",
        "label": "Step 2 Info Title",
        "default": "More Info",
        "placeholder": "Title"
      },
      {
        "type": "richtext",
        "id": "step_2_info",
        "label": "Step 2 Info",
        "default": "<p>Description</p>"
      },
      {
        "type": "text",
        "id": "step_2_button_text",
        "label": "Step 2 Button Text",
        "default": "Next",
        "placeholder": "Next"
      },
      {
        "type": "text",
        "id": "step_3_heading",
        "label": "Step 3 Heading",
        "default": "Step 3",
        "placeholder": "Step 3"
      },
      {
        "type": "text",
        "id": "step_3_info_title",
        "label": "Step 3 Info Title",
        "default": "More Info",
        "placeholder": "Title"
      },
      {
        "type": "richtext",
        "id": "step_3_info",
        "label": "Step 3 Info",
        "default": "<p>Description</p>"
      },
      {
        "type": "text",
        "id": "step_3_button_text",
        "label": "Step 3 Button Text",
        "default": "Next",
        "placeholder": "Next"
      },
      {
        "type": "text",
        "id": "default_frequency_title",
        "label": "Default Frequency Title",
        "default": "Every Box",
        "placeholder": "Every Box"
      },
      {
        "type": "text",
        "id": "default_frequency_description",
        "label": "Default Frequency Description",
        "default": "Description",
        "placeholder": "Description"
      },
      {
        "type": "text",
        "id": "delivered_count",
        "label": "Delivered Count",
        "default": "1,000",
        "placeholder": "1,000"
      },
      {
        "type": "text",
        "id": "delivered_text",
        "label": "Delivered Text",
        "default": "items delivered",
        "placeholder": "items delivered"
      },
      {
        "type": "text",
        "id": "discount_code",
        "label": "Discount Code",
        "info": "The discount code to use for checkout"
      },
      {"type":"header","content":"Section Heading"},{"type":"richtext","id":"heading","label":"Heading"},{"type":"select","id":"heading_alignment","label":"Heading Alignment","options":[{"value":"left","label":"Left"},{"value":"center","label":"Center"},{"value":"right","label":"Right"},{"value":"row","label":"Row"}],"default":"center"},{"type":"select","id":"heading_alignment_mobile","label":"Heading Alignment (Mobile)","options":[{"value":"left","label":"Left"},{"value":"center","label":"Center"},{"value":"right","label":"Right"}],"default":"center"},{"type":"checkbox","id":"limit_heading_width","label":"Limit Heading Width","default": true},{"type":"header","content":"Section Settings"},{"type":"checkbox","id":"section_inverse","label":"Inverted Section","default":false},{"type":"select","id":"section_background_style","label":"Section Background Style","options":[{"value":"section-background-style-normal","label":"Normal"},{"value":"section-background-style-floating","label":"Floating"}],"default":"section-background-style-normal"},{"type":"select","id":"section_background_colour","label":"Section Background Colour","options":[{"value":"section-background-colour-normal","label":"Normal"},{"value":"section-background-colour-alt-100","label":"Alt (100)"},{"value":"section-background-colour-alt","label":"Alt"},{"value":"section-background-colour-alt-900","label":"Alt (900)"},{"value":"section-background-colour-surface-100","label":"Surface (100)"},{"value":"section-background-colour-surface","label":"Surface"},{"value":"section-background-colour-surface-900","label":"Surface (900)"}],"default":"section-background-colour-normal"},{"type":"select","id":"section_spacing","label":"Section Spacing","options":[{"value":"section-spacing-top-bottom","label":"Top & Bottom"},{"value":"section-spacing-top","label":"Top"},{"value":"section-spacing-bottom","label":"Bottom"},{"value":"section-spacing-none","label":"None"}],"default":"section-spacing-bottom"},{"type":"text","id":"custom_id","label":"Custom ID","placeholder":"id","info":"Assign a custom ID to this section, allowing you to easily reference it"},{"type": "checkbox","id": "section_visible","label":"Section Visible","default":true,"info": "Turning this off hides the section but doesn't remove it from the page."}
    ],
    "blocks": [
      {
        "name": "Carousel Image",
        "type": "image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "position",
            "label": "Position",
            "options": [
              {
                "value": "before",
                "label": "Before"
              },
              {
                "value": "after",
                "label": "After"
              }
            ],
            "default": "after",
            "info": "Should the image appear before or after the product images"
          }
        ]
      },
      {
        "name": "Product",
        "type": "product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "text",
            "id": "custom_title",
            "label": "Custom Title",
            "placeholder": "Custom Title"
          },
          {
            "type": "image_picker",
            "id": "custom_image",
            "label": "Custom Image"
          },
          {
            "type": "checkbox",
            "id": "use_custom_price",
            "label": "Use Custom Price",
            "default": false
          },
          {
            "type": "number",
            "id": "custom_price",
            "label": "Custom Price",
            "default": 0,
            "info": "In cents"
          },
          {
            "type": "checkbox",
            "id": "use_custom_compare_at_price",
            "label": "Use Custom Compare At Price",
            "default": false
          },
          {
            "type": "number",
            "id": "custom_compare_at_price",
            "label": "Custom Compare At Price",
            "default": 0,
            "info": "In cents"
          },
          {
            "type": "textarea",
            "id": "facts",
            "label": "Facts",
            "placeholder": "Fact",
            "info": "Put each fact on a new line"
          },
          {
            "type": "text",
            "id": "outer_tag_text",
            "label": "Outer Tag Text",
            "placeholder": "Tag Text",
            "info": "Text to show as a tag above the product"
          },
          {
            "type": "richtext",
            "id": "inner_tag_text",
            "label": "Inner Text",
            "info": "Text to show as a tag inside the product"
          },
          {
            "type": "text",
            "id": "outer_tag_text_step3",
            "label": "Outer Tag Text (Step 3)",
            "placeholder": "Tag Text",
            "info": "Text to show as a tag above the product in step 3"
          },
          {
            "type": "richtext",
            "id": "inner_tag_text_step3",
            "label": "Inner Text (Step 3)",
            "info": "Text to show as a tag inside the product in step 3"
          },
          {
            "type": "checkbox",
            "id": "preselected",
            "label": "Pre-selected",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "preselected_step_3",
            "label": "Pre-selected (Step 3)",
            "default": false
          },
          {
            "type": "text",
            "id": "info_message",
            "label": "Info Message",
            "placeholder": "Info Message",
            "info": "A line of information to display above the buy button when this product is selected"
          }
        ]
      },
      {
        "name": "Product Frequency Option",
        "type": "product_frequency_option",
        "settings": [
          {
            "type": "product",
            "id": "parent_product",
            "label": "Parent Product",
            "info": "The product that this frequency product will show up under"
          },
          {
            "type": "product",
            "id": "frequency_product",
            "label": "Frequency Product"
          },
          {
            "type": "text",
            "id": "frequency_title",
            "label": "Frequency Title",
            "placeholder": "Frequency Title"
          },    
          {
            "type": "text",
            "id": "frequency_description",
            "label": "Frequency Description",
            "default": "Description",
            "placeholder": "Description"
          },
          {
            "type": "text",
            "id": "frequency_duration",
            "label": "Frequency Duration",
            "placeholder": "Frequency Duration"
          },
          {
            "type": "checkbox",
            "id": "use_custom_price",
            "label": "Use Custom Price",
            "default": false
          },
          {
            "type": "number",
            "id": "custom_price",
            "label": "Custom Price",
            "default": 0,
            "info": "In cents"
          },
          {
            "type": "checkbox",
            "id": "use_custom_compare_at_price",
            "label": "Use Custom Compare At Price",
            "default": false
          },
          {
            "type": "number",
            "id": "custom_compare_at_price",
            "label": "Custom Compare At Price",
            "default": 0,
            "info": "In cents"
          },
          {
            "type": "text",
            "id": "outer_tag_text",
            "label": "Outer Tag Text",
            "placeholder": "Tag Text",
            "info": "Text to show as a tag above the product"
          },
          {
            "type": "richtext",
            "id": "inner_tag_text",
            "label": "Inner Tag Text",
            "info": "Text to show as a tag inside the product"
          },
          {
            "type": "checkbox",
            "id": "preselected",
            "label": "Pre-selected",
            "default": false
          },
          {
            "type": "text",
            "id": "info_message",
            "label": "Info Message",
            "placeholder": "Info Message",
            "info": "A line of information to display above the buy button when this product is selected"
          }
        ]
      },
      {
        "name": "Info",
        "type": "info",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Text",
            "placeholder": "Text"
          },
          {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default": "Description",
            "placeholder": "Description"
          }
        ]
      },
      {
        "name": "Media",
        "type": "media",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Heading",
            "placeholder": "Heading"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Text",
            "placeholder": "Text"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "video_url",
            "label": "Video URL"
          }
        ]
      },
      {
        "name": "Drop",
        "type": "drop",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title",
            "placeholder": "Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Content</p>"
          }
        ]
      },
      {
        "type": "sticker",
        "name": "Sticker",
        "settings": [{"type":"image_picker","id":"image","label":"Image","info":"Main sticker image that will be displayed"},{"type":"select","id":"layer_order","label":"Layer Order","options":[{"value":"above","label":"Above Content"},{"value":"below","label":"Below Content"}],"default":"below","info":"Choose if the sticker should appear above or below the content"},{"type":"number","id":"width","label":"Width","default":128,"info":"Width of the sticker in pixels"},{"type":"number","id":"rotation","label":"Rotation","default":0,"info":"Rotate the sticker in degrees"},{"type":"header","content":"Position Settings"},{"type":"select","id":"horizontal_position","label":"Horizontal Position","options":[{"value":"left","label":"Left"},{"value":"center","label":"Center"},{"value":"right","label":"Right"}],"default":"left","info":"Choose horizontal position of the sticker"},{"type":"select","id":"vertical_position","label":"Vertical Position","options":[{"value":"top_section","label":"Top of Section"},{"value":"top_content","label":"Top of Content"},{"value":"center","label":"Center"},{"value":"bottom_content","label":"Bottom of Content"},{"value":"bottom_section","label":"Bottom of Section"}],"default":"top_content","info":"Choose vertical position of the sticker"},{"type":"number","id":"offset_x","label":"Horizontal Offset","default":0,"info":"Shift in pixels left or right from chosen horizontal position"},{"type":"number","id":"offset_y","label":"Vertical Offset","default":0,"info":"Shift in pixels up or down from chosen vertical position"},{"type":"header","content":"Override 1"},{"type":"select","id":"override_1_visibility","label":"Override Visibility","options":[{"value":"disabled","label":"Disabled"},{"value":"enabled","label":"Enabled"},{"value":"hidden","label":"Hidden"}],"default":"disabled","info":"Override settings are applied at the selected width and below"},{"type":"number","id":"override_1_page_width","label":"Page Width","default":1920,"info":"Screen width when this override will activate (and below)"},{"type":"image_picker","id":"override_1_image","label":"Image","info":"Override image for this screen size"},{"type":"select","id":"override_1_layer_order","label":"Layer Order","options":[{"value":"above","label":"Above Content"},{"value":"below","label":"Below Content"}],"default":"below"},{"type":"number","id":"override_1_width","label":"Width","default":128},{"type":"number","id":"override_1_rotation","label":"Rotation","default":0},{"type":"select","id":"override_1_horizontal_position","label":"Horizontal Position","options":[{"value":"left","label":"Left"},{"value":"center","label":"Center"},{"value":"right","label":"Right"}],"default":"left"},{"type":"select","id":"override_1_vertical_position","label":"Vertical Position","options":[{"value":"top_section","label":"Top of Section"},{"value":"top_content","label":"Top of Content"},{"value":"center","label":"Center"},{"value":"bottom_content","label":"Bottom of Content"},{"value":"bottom_section","label":"Bottom of Section"}],"default":"top_content"},{"type":"number","id":"override_1_offset_x","label":"Horizontal Offset","default":0},{"type":"number","id":"override_1_offset_y","label":"Vertical Offset","default":0},{"type":"header","content":"Override 2"},{"type":"select","id":"override_2_visibility","label":"Override Visibility","options":[{"value":"disabled","label":"Disabled"},{"value":"enabled","label":"Enabled"},{"value":"hidden","label":"Hidden"}],"default":"disabled","info":"Override settings are applied at the selected width and below"},{"type":"number","id":"override_2_page_width","label":"Page Width","default":1024,"info":"Screen width when this override will activate (and below)"},{"type":"image_picker","id":"override_2_image","label":"Image","info":"Override image for this screen size"},{"type":"select","id":"override_2_layer_order","label":"Layer Order","options":[{"value":"above","label":"Above Content"},{"value":"below","label":"Below Content"}],"default":"below"},{"type":"number","id":"override_2_width","label":"Width","default":128},{"type":"number","id":"override_2_rotation","label":"Rotation","default":0},{"type":"select","id":"override_2_horizontal_position","label":"Horizontal Position","options":[{"value":"left","label":"Left"},{"value":"center","label":"Center"},{"value":"right","label":"Right"}],"default":"left"},{"type":"select","id":"override_2_vertical_position","label":"Vertical Position","options":[{"value":"top_section","label":"Top of Section"},{"value":"top_content","label":"Top of Content"},{"value":"center","label":"Center"},{"value":"bottom_content","label":"Bottom of Content"},{"value":"bottom_section","label":"Bottom of Section"}],"default":"top_content"},{"type":"number","id":"override_2_offset_x","label":"Horizontal Offset","default":0},{"type":"number","id":"override_2_offset_y","label":"Vertical Offset","default":0},{"type":"header","content":"Override 3"},{"type":"select","id":"override_3_visibility","label":"Override Visibility","options":[{"value":"disabled","label":"Disabled"},{"value":"enabled","label":"Enabled"},{"value":"hidden","label":"Hidden"}],"default":"disabled","info":"Override settings are applied at the selected width and below"},{"type":"number","id":"override_3_page_width","label":"Page Width","default":600,"info":"Screen width when this override will activate (and below)"},{"type":"image_picker","id":"override_3_image","label":"Image","info":"Override image for this screen size"},{"type":"select","id":"override_3_layer_order","label":"Layer Order","options":[{"value":"above","label":"Above Content"},{"value":"below","label":"Below Content"}],"default":"below"},{"type":"number","id":"override_3_width","label":"Width","default":128},{"type":"number","id":"override_3_rotation","label":"Rotation","default":0},{"type":"select","id":"override_3_horizontal_position","label":"Horizontal Position","options":[{"value":"left","label":"Left"},{"value":"center","label":"Center"},{"value":"right","label":"Right"}],"default":"left"},{"type":"select","id":"override_3_vertical_position","label":"Vertical Position","options":[{"value":"top_section","label":"Top of Section"},{"value":"top_content","label":"Top of Content"},{"value":"center","label":"Center"},{"value":"bottom_content","label":"Bottom of Content"},{"value":"bottom_section","label":"Bottom of Section"}],"default":"top_content"},{"type":"number","id":"override_3_offset_x","label":"Horizontal Offset","default":0},{"type":"number","id":"override_3_offset_y","label":"Vertical Offset","default":0}]
      }
    ]
  }
{% endschema %}