{{ 'section-MTB-video.css' | asset_url | stylesheet_tag }}

<section class="video-component page-width">
  <style>
    .video-component {
      padding-top: {{ section.settings.component_mobile_pt }}px;
      padding-bottom: {{ section.settings.component_mobile_pb }}px;
    }

    .video-component__header {
      color: {{ section.settings.header_color }};
    }

    @media screen and (min-width: 641px) and (max-width: 989px) {
      .video-component {
        padding-top: {{ section.settings.component_tablet_pt }}px;
        padding-bottom: {{ section.settings.component_tablet_pb }}px;
      }
    }

    @media screen and (min-width: 990px) {
      .video-component {
        padding-top: {{ section.settings.component_desktop_pt }}px;
        padding-bottom: {{ section.settings.component_desktop_pb }}px;
      }
    }
  </style>

  <div class="video-component__content">
    <div class="video-component__header-wrap">
      <h2 class="video-component__header">{{ section.settings.component_header }}</h2>
    </div>

    <div class="video-component__items-wrap">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'video' -%}
            <div class="video-component__item_wrap">
              {%- if block.settings.video_url.id -%}
                <iframe
                  src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}"
                  class="video-component__video js-youtube"
                  allowfullscreen
                  allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share;"
                  title="{{ block.settings.description | escape }}"
                  scrolling="no"
                  sandbox="allow-scripts allow-pointer-lock allow-same-origin allow-popups allow-modals"
                ></iframe>
              {%- endif -%}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "MTB Video",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "component_header",
      "label": "Component header"
    },
    {
      "type": "color",
      "id": "header_color",
      "label": "Header color",
      "default": "#00574f"
    },
    {
      "type": "header",
      "content": "Mobile Settings"
    },
    {
      "type": "range",
      "id": "component_mobile_pt",
      "label": "Component mobile padding top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 20
    },
    {
      "type": "range",
      "id": "component_mobile_pb",
      "label": "Component mobile padding bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "default": 20
    },
    {
      "type": "header",
      "content": "Tablet Settings"
    },
    {
      "type": "range",
      "id": "component_tablet_pt",
      "label": "Component tablet padding top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 30
    },
    {
      "type": "range",
      "id": "component_tablet_pb",
      "label": "Component tablet padding bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 30
    },
    {
      "type": "header",
      "content": "Desktop Settings"
    },
    {
      "type": "range",
      "id": "component_desktop_pt",
      "label": "Component desktop padding top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "component_desktop_pb",
      "label": "Component desktop padding bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 40
    }
  ],
  "limit": 1,
  "blocks": [
    {
      "type": "video",
      "name": "Video",
      "settings": [
        {
          "type": "video_url",
          "id": "video_url",
          "accept": ["youtube", "vimeo"],
          "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
          "label": "t:sections.video.settings.video_url.label",
          "info": "t:sections.video.settings.video_url.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "MTB Video"
    }
  ]
}
{% endschema %}
